:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* IMPORTANT: This ensures the app takes the full screen */
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
  background-color: #f0f2f5;
}

* {
  box-sizing: border-box;
}
